# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/
venv/
env/
ENV/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Uploads and model files
uploads/
ch_ppocr_mobile_v2.0_cls/
en_PP-OCRv3_det/
multi_PP-OCRv3_rec/

# Logs and temp files
*.log
*.tmp

# Python packaging
build/
develop-eggs/
dist/
eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Gitpod config cache
.gitpod.yml

# Test output
htmlcov/
.tox/
.nox/
coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pydantic and mypy
.mypy_cache/
.dmypy.json
.pyre/

# Jupyter Notebook
.ipynb_checkpoints/

# FastAPI specific
*.sqlite3
